@model Seyahat_Rehberi.Models.Sınıflar.İletisim
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<h2>Teşekkürler.</h2>
<h1>Mesajınız başarıyla gönderildi. Size en kısa sürede geri dönüş yapacağız.</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

